// 
// breadcrumb.scss
//


// Breadcrumb item arrow
.breadcrumb-item {
    > a {
        color: var(--#{$prefix}body-color);
    }
    +.breadcrumb-item {
        &::before {
            font-family: $font-family-custom;
            font-size: 15px;
            line-height: 20px;
        }
    }
}
  